html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: WHITE;
    margin: 0;
}


/*Variables*/

:root {
    --colorPrimario: #003961;
    --colorSecundario: #DFE9F5;
    --colorHover: #045fa0;
    --fuentePrimaria: 'Noto Sans', sans-serif;
}


/*Globales*/

.contenedor {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

@media(min-width:768px) {
    .contenedor2 {
        max-width: 100%;
        width: 80%;
        margin: 0 auto;
    }
}

.btnPrincipal {
    background-color: YELLOW;
    padding: .5rem 2rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.btnSecundario {
    background-color: var(--colorPrimario);
    padding: .5rem 4rem;
    border-radius: 5px;
}

@media(min-width:768px) {
    .btnSecundario:hover {
        background-color: var(--colorHover);
    }
}

nav a {
    font-family: var(--fuentePrimaria);
    font-weight: 700;
    text-decoration: none;
    color: BLACK;
}

a {
    text-decoration: none;
    color: BLACK;
}

h2 {
    font-family: var(--fuentePrimaria);
    font-weight: 700;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

@media(min-width:768px) {
    .menu img {
        width: 15%;
    }
}


/*Header*/

.donar {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    height: 3rem;
    position: relative;
}

.donar nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
}

.donar nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--colorPrimario);
    text-transform: uppercase;
    font-size: 12px;
}

@media(min-width:768px) {
    .donar nav a {
        font-size: 15px;
    }
}

.donar nav a:hover {
    border-bottom: 1px solid var(--colorPrimario);
}

.donar nav a:hover:last-child {
    border-bottom: 0;
    background-color: var(--colorPrimario);
    color: WHITE;
}

.donar nav a:nth-last-child(2) {
    color: GREY;
}

.menu {
    position: relative;
    background-color: var(--colorSecundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
}

.menu nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--colorPrimario);
    text-transform: uppercase;
    margin: 1rem 0;
}

.iconoMobil {
    color: var(--colorPrimario);
    font-size: 3rem;
}

@media(min-width:768px) {
    .iconoMobil {
        display: none;
    }
    .menu {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
    }
    .menu nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: .5rem 0;
    }
    .menu nav a {
        font-size: 15px;
        margin: 0 1rem;
    }
    .menu nav a:hover {
        border-bottom: 1px solid var(--colorPrimario);
    }
    .menu nav a:hover:last-child {
        border-bottom: 0;
    }
}


/*Main*/

main {
    background-image: url("../recursos/formacion-1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.principal {
    display: grid;
    padding-top: 1rem;
}

@media(min-width:768px) {
    .principal {
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5rem;
        padding-top: 0;
    }
}

.mensajes p {
    color: GREY;
    text-align: justify;
    font-size: 1.5rem;
    padding: 0 3rem;
    margin: 0;
}

.mensaje p span {
    font-size: 1rem;
}

.mensaje img {
    padding: 1rem;
}

@media(min-width:768px) {
    .mensaje {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4rem;
    }
    .mensaje img {
        padding: 0;
    }
}

.arrowIcon {
    padding: 0 3rem;
    margin-top: 10px;
}

.arrowIcon i {
    font-size: 2rem;
    color: var(--colorPrimario);
}

@media(min-width:768px) {
    .arrowIcon i:hover {
        color: var(--colorHover);
        cursor: pointer;
    }
}

.textoOrientacion h2 {
    padding: 0 3rem;
}

.textoOrientacion nav {
    padding: 0 3rem;
    margin-top: 10px;
}

.textoOrientacion nav a {
    margin-right: 2rem;
    text-decoration: solid;
}

@media(min-width:768px) {
    .textoOrientacion nav a:hover {
        border-bottom: 1px solid var(--colorPrimario);
    }
}

.textoOrientacion p {
    color: GREY;
    text-align: justify;
    font-size: 1.5rem;
    padding: 0 3rem;
    margin: 0;
}

.circulos {
    padding: 0 3rem;
    display: flex;
}

.circulos .circle {
    height: 15px;
    width: 15px;
    background-color: GREY;
    border-radius: 100%;
    flex-direction: column;
    margin: 1rem 1rem 0 0;
}


/*Sections*/

section {
    padding-top: 1rem;
    text-align: center;
}

section nav a {
    margin: 0 .5rem;
    color: GRAY;
}

.contenedorImgTes {
    height: 200px;
    width: 200px;
    padding-top: 2rem;
    margin: 0 auto;
}

.imagenTestimonios {
    height: 35vh;
    border-radius: 100%;
}

.testimonios h3 {
    padding-top: 3rem;
}

.youtube {
    display: flex;
    justify-content: center;
}

.youtubeCircle {
    height: 30px;
    width: 30px;
    background-color: var(--colorPrimario);
    border-radius: 100%;
}

.youtubeCircle i {
    color: WHITE;
    margin-top: 6px;
}

.youtube a {
    margin: 6px 0 0 6px;
}

.circulosTest {
    justify-content: center;
}

.boxInstrumentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    padding: 0;
}

.box {
    width: 8rem;
    border-radius: 5px;
    background-color: WHITE;
    color: var(--colorPrimario);
    padding: .5rem .5rem;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
}

@media(min-width:768px) {
    .instrumentos {
        background-image: url("../recursos/formacion-1.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 1200px 400px;
        padding-bottom: 10rem;
    }
    .boxInstrumentos {
        display: inline-block;
        position: relative;
        height: 500px;
        width: 100%;
    }
    .box:nth-of-type(1) {
        position: absolute;
        top: 40px;
        left: 300px;
    }
    .box:nth-of-type(2) {
        position: absolute;
        top: 60px;
        left: 700px;
    }
    .box:nth-of-type(3) {
        position: absolute;
        top: 250px;
        left: 850px;
    }
    .box:nth-of-type(4) {
        position: absolute;
        top: 300px;
        left: 400px;
    }
    .box:nth-of-type(5) {
        position: absolute;
        top: 200px;
        left: 0;
    }
}

.box i {
    font-size: 4rem;
}

.rowsSituaciones {
    display: flex;
    align-items: center;
}

.arrowsIzquierda #arrowI,
.arrowsDerecha #arrowD {
    font-size: 2rem;
    color: var(--colorPrimario);
    margin: 0 1rem;
}

.arrowsDerecha #arrowD {
    font-size: 2rem;
    color: var(--colorPrimario);
    margin: 0 1rem;
}

@media(min-width:768px) {
    .arrowsIzquierda #arrowI:hover,
    .arrowsDerecha #arrowD:hover {
        color: var(--colorHover);
        cursor: pointer;
    }
}

.navSituaciones {
    font-size: 1.2rem;
}

.navSituaciones a {
    color: BLACK;
}

@media(min-width:768px) {
    .infoSituaciones .navSituacionesHover a:hover {
        border-bottom: 1px solid var(--colorPrimario);
    }
}

.imgTalleres {
    border-radius: 10px;
}

.talleres .mensaje .textoOrientacion {
    text-align: left;
}

.boxRecursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.boxR {
    border: 1px solid GREY;
    border-radius: 10px;
    padding: 2rem 1rem;
    height: 30rem;
    width: 20rem;
}

.boxR a {
    color: WHITE;
}

@media(min-width:768px) {
    .boxRecursos {
        flex-direction: row;
        align-items: center;
    }
    .boxR:nth-of-type(1) {
        border-radius: 10px 0 0 10px / 10px 10px;
    }
    .boxR:nth-of-type(2) {
        height: 34rem;
        position: relative;
    }
    .boxR:nth-of-type(2) p {
        font-size: 18.5px;
    }
    .boxR:nth-of-type(3) {
        border-radius: 0 10px 10px 0 / 10px 10px;
    }
}

.misionerosUrbanos .mensaje {
    text-align: left;
}

.iconVolver {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    align-items: center;
}

.iconVolver p {
    padding-right: .4rem;
}

.iconVolver i {
    font-size: 2rem;
    color: var(--colorPrimario);
}

@media(min-width:768px) {
    .iconVolver i:hover {
        color: var(--colorHover);
        cursor: pointer;
    }
}

.porMaria {
    height: 2rem;
    color: var(--colorPrimario);
    background-color: var(--colorSecundario);
}

.porMaria p {
    padding: 7px 0;
}


/*Footer*/

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
}

.footer1 .logoFooter {
    height: 128;
    width: 200px;
}

.navegadores nav a {
    display: flex;
    padding: .3rem 2rem;
    color: var(--colorPrimario);
}

.navegadores,
.nav1,
.nav2,
.nav3,
.nav4 {
    padding-top: 1rem;
}

.copy {
    text-align: center;
}

@media(min-width:768px) {
    .footer1 {
        flex-direction: row;
    }
    .footer1 .navegadores {
        display: flex;
    }
    .navegadores nav a {
        padding: .2rem 0;
        margin: 0 2rem;
    }
    .navegadores nav a:hover {
        border-bottom: 1px solid var(--colorPrimario);
    }
    .navegadores,
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
        padding-top: 0;
    }
    .copy {
        text-align: start;
    }
}